.slidecontainer {
  width: 100%;
  /* min-width: 200px; */
}

/* The slider itself */
.slide {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background-color:rgba(0, 0, 0, 0.25); /* Grey background */
  border-radius: 2px;
  outline: none; /* Remove outline */
  /* opacity: 0.7; Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor: pointer;
}

/* Mouse-over effects */
.slide:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 10px;
  background:#fff -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.05)));
  background:#fff -webkit-linear-gradient(transparent,rgba(0,0,0,.05));
  background:#fff linear-gradient(transparent,rgba(0,0,0,.05));
  border-radius:100%;-webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
  box-shadow:0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15) inset;
  -webkit-transition:background .3s ease;transition:background .3s ease;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab; /* Cursor on hover */
  cursor: -webkit-grab; 
}

.slide::-moz-range-thumb:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slide::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border-radius: 10px;
  background:#fff linear-gradient(transparent,rgba(0,0,0,.05));
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15),0 0 0 1px rgba(34,36,38,.15);
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab; /* Cursor on hover */
  cursor: -moz-grab;
} 

.slide::-webkit-slider-thumb:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #FFFFFF!important;
}

.ui.toggle.checkbox ~input:checked~.box:before, .ui.toggle.checkbox ~input:checked~label:before {
  background-color: #FFFFFF!important;
} */
